<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <system.web>
    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="~/Web.sitemap"
             securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    
    <authentication mode="Forms">
      <forms defaultUrl="/Account/Page1.aspx" loginUrl="Login.aspx"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>

    <membership defaultProvider="SqlMembership">
      <providers>
        <add
          name="SqlMembership"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="SqlSecurityDB"
          applicationName="CST465"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"/>
      </providers>
    </membership>
    
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <connectionStrings>
    <add name ="SqlSecurityDB" connectionString="server=otk-dbdev-01;database=Ross;user id=Ross;password=3799;"></add>
  </connectionStrings>
  
</configuration>